@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Inter:wght@200;400;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-inverted: #323634;
    --color-text-base: #48726b;
    --color-text-muted: #2e3b3c;
    --color-text-white: #ebecec;

    --color-fill-alwaysdark: #444846;
    --color-fill-base: #d1e4da;
    --color-fill-muted: #a4b6ab;
    --color-fill-moremuted: #95a099;

    --color-accent: #d55a49;

    --color-accentalpha: #d55a4950;
    --color-fill-alwaysdarkalpha: #4448467c;
    --color-fill-basealpha: #d1e4dad9;
  }

  .dark {
    --color-text-inverted: #e6f1ff;
    --color-text-base: #ccd6f6;
    --color-text-muted: #8892b0;
    --color-text-white: #c6c6c6;

    --color-fill-alwaysdark: #0d021b;
    --color-fill-base: #1d1822;
    --color-fill-muted: #332d39;
    --color-fill-moremuted: #453b4e;

    --color-accent: #ffa564;

    --color-accentalpha: #ffa5641a;
    --color-fill-alwaysdarkalpha: #0d021b70;
    --color-fill-basealpha: #1d1822d9;
  }

  * {
    @apply m-0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-skin-base text-skin-muted transition-all duration-200 ease-in-out;
  }

  section {
    @apply max-w-[1000px] m-auto py-20 sm:pt-16 md:pt-20 min-h-[60vh] lg:min-h-screen;
  }

  a {
    @apply hover:text-skin-accent transition-all ease-linear;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 font-semibold leading-tight;
  }

  li {
    @apply mx-5 font-mono capitalize;
  }

  button {
    @apply box-border font-mono capitalize text-sm border border-skin-accent px-4 py-3 rounded text-skin-accent transition-all ease-linear hover:bg-skin-accentalpha cursor-pointer;
  }
}

@layer utilities {
  .hamburger-toggle {
    @apply [&>div::before]:translate-y-0 [&>div::before]:-rotate-45 [&>div::after]:translate-y-0 [&>div::after]:rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
  }
}

@layer components {
  .fixed-body {
    overflow: hidden;
  }

  .fixed-body header {
    background-color: transparent;
  }

  .header {
    background-color: var(--color-fill-base);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    padding: 0 1.5rem;
    height: 100px;
    display: flex;
    justify-content: space-between;
    transition: all 200ms ease-in-out;
    z-index: 50;
    top: 0;
  }

  .up {
    height: 70px;
    transform: translateY(0px);
    background-color: var(--color-fill-basealpha);
    box-shadow: 0 10px 30px -10px var(--color-fill-alwaysdarkalpha);
  }

  .down {
    height: 70px;
    transform: translateY(-70px);
  }

  .grid-container {
    margin-bottom: 5rem;
  }

  .project {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    align-items: center;
    margin: 1rem 0 5rem 0;
    border-radius: 4px;
  }

  .project__image {
    box-shadow: 0 10px 20px 10px var(--color-fill-alwaysdarkalpha);
    grid-area: 1 / 1 / -1 / -1;
    height: 100%;
    opacity: 0.2;

    transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1);

    border-radius: 4px;
    overflow: hidden;
    background-color: var(--color-fill-muted);
  }

  .project__image a {
    mix-blend-mode: soft-light;
    transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .project__image--img {
    object-fit: cover;
    height: 100%;
    filter: grayscale(90%);
  }

  .project__content {
    grid-column: 1 / -1;
    position: relative;
    z-index: 5;
    grid-area: 1 / 1 / -1 / -1;
    border-radius: 4px;
    background-color: transparent;
  }

  @media (min-width: 640px) {
    .project:nth-child(odd) .project__content {
      grid-column: 4 / -1;
      align-items: flex-end;
      text-align: right;
    }

    .project {
      box-shadow: none;
    }

    .project__content {
      grid-column: 1 / 10;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .project:nth-child(odd) .project__image {
      grid-column: 1 / 9;
    }

    .project__image {
      grid-column: 5 / -1;
      height: auto;
      opacity: 0.4;

      box-shadow: 0 20px 40px 0px var(--color-fill-alwaysdarkalpha);
    }

    .project__image:hover {
      opacity: 0.8;
      background-color: transparent;
      filter: none;
    }

    .project__image a {
      border-radius: 4px;
      mix-blend-mode: hard-light;
    }

    .project__image a:hover {
      mix-blend-mode: normal;
    }

    .project__image--img {
      object-fit: contain;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      border-radius: 4px;
      max-height: 100%;
    }

    .project__image--img:hover {
      filter: none;
    }
  }
}

@media (min-width: 768px) {
  .fixed-body {
    overflow: auto;
  }
  .header {
    padding: 0 2.5rem;
  }
}

@media (min-width: 1024px) {
  .project:nth-child(odd) .project__content {
    grid-column: 5 / -1;
  }

  .project__content {
    grid-column: 1 / 9;
  }

  .project:nth-child(odd) .project__image {
    grid-column: 1 / 8;
  }

  .project__image {
    grid-column: 6 / -1;
  }
}
